#chat {
  width: 80%;
  margin: auto;
}

#chat-messages {
  border: 1px solid #ddd;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
}

#message-input {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#typing-indicator {
  display: none;
  font-style: italic;
  color: gray;
  margin-top: 10px;
  font-size: 14px;
}

#chat-messages div {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px;
}

.timestamp {
  font-size: 12px;
  color: gray;
  margin-left: auto;

}